---
// SPDX-License-Identifier: AGPL-3.0-or-later
// Copyright (C) 2025 germondai - https://github.com/germondai
---

<div class="beams-layer" aria-hidden="true">
  <div class="beam beam-1" style="--beam-dur:4.5s;--beam-delay:0s"></div>
  <div class="beam beam-2" style="--beam-dur:6s;--beam-delay:0.9s"></div>
  <div class="beam beam-3" style="--beam-dur:5s;--beam-delay:1.8s"></div>
  <div class="beam beam-4" style="--beam-dur:6.5s;--beam-delay:2.7s"></div>
  <div class="beam beam-5" style="--beam-dur:5.5s;--beam-delay:3.6s"></div>
</div>
